n8n-workflows/new-lead-from-rosie.json
{
  "name": "SmoothFence — New Lead from Rosie",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smoothfence-rosie-lead",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-rosie",
      "name": "Webhook: Rosie Call",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"ok\"}"
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "id", "value": "={{ $env.GOOGLE_SHEET_ID }}" },
        "sheetName": { "__rl": true, "mode": "name", "value": "Leads" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now.format('yyyy-MM-dd HH:mm') }}",
            "Source": "Rosie AI Call",
            "Name": "={{ $json.caller_name || 'Unknown' }}",
            "Phone": "={{ $json.caller_phone }}",
            "Email": "={{ $json.caller_email || '' }}",
            "Address": "={{ $json.property_address || '' }}",
            "Fence Type": "={{ $json.fence_type || '' }}",
            "Message": "={{ $json.call_summary || '' }}",
            "Status": "New",
            "Call Duration": "={{ $json.call_duration || '' }}",
            "Urgency": "={{ $json.urgency || 'Normal' }}"
          }
        }
      },
      "id": "google-sheets",
      "name": "Add to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [450, 400],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "sendTo": "={{ $env.OWNER_EMAIL }}",
        "subject": "Rosie Call Lead: {{ $json.caller_name || $json.caller_phone }}",
        "emailType": "html",
        "html": "<h2>New Lead from Rosie AI</h2><p><strong>Caller:</strong> {{ $json.caller_name || 'Unknown' }}<br><strong>Phone:</strong> <a href='tel:{{ $json.caller_phone }}'>{{ $json.caller_phone }}</a><br><strong>Fence Type:</strong> {{ $json.fence_type || 'Not specified' }}<br><strong>Urgency:</strong> {{ $json.urgency || 'Normal' }}</p><h3>Call Summary</h3><p>{{ $json.call_summary || 'No summary available' }}</p>"
      },
      "id": "send-email",
      "name": "Email to Owner",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "from": "={{ $env.TWILIO_PHONE }}",
        "to": "={{ $json.caller_phone }}",
        "message": "Hi{{ $json.caller_name ? ' ' + $json.caller_name : '' }}! Thanks for calling SmoothFenceUSA. We got your info and someone will follow up shortly. Need anything? Call (386) 403-9460."
      },
      "id": "sms-customer",
      "name": "SMS to Customer",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [650, 500],
      "credentials": { "twilioApi": { "id": "REPLACE_WITH_CREDENTIAL_ID", "name": "Twilio" } }
    }
  ],
  "connections": {
    "Webhook: Rosie Call": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }, { "node": "Add to Google Sheets", "type": "main", "index": 0 }]] },
    "Add to Google Sheets": { "main": [[{ "node": "Email to Owner", "type": "main", "index": 0 }, { "node": "SMS to Customer", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "SmoothFenceUSA" }]
}
